/*reset__________________________________________________________________ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div, section, a, label, input, p  {
    border: 1px solid red;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Whitney, Helvetica Newe, Helvetica, Arial, sans-serif; 
    color: grey;
    background-color: white;  
}

section, h1, p, a, div {
    padding: 10px 0px;
}

#forpass {

}

h1 {
    padding-bottom: 20px;
}

h3 #first-link {
    place-content: center;
}

main {
    padding: 80px;
}

#title, #first-link {
    text-align: center;
}

#first-link {
    display: block;
    text-decoration: none;
    place-content: center;
}

#first-link:hover {
    text-decoration: underline;
}

.last-link {
    display: flex;
    gap: 10px;
}

a {
    color: grey;
}

.container {
    padding: 20px 30px;
    max-width: 350px;
    max-height: auto;
    margin: 0px auto;
    border: 7px solid lightgray;
    border-radius: 5px;
}



/*button__________________________________________________________________*/

.button {
    padding: 10px 39%;
    border-radius: 5px;
    text-decoration: none;
     
}

.button-container {
    padding: 30px 0px;
}

.white-button {
    color: white;
    background-color: #1f73b8;
}